:root{
    --leftMargin: 30px;
}
@font-face {
    font-family: 'Poppins';
    src: url('../public/Poppins-Medium.ttf') format('truetype');
  }

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.topHeader {
    background-color: rgb(1, 16, 47);
}
#bok
{
    width: 140px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 20px;
}

#stopwatch {
    display: flex;
    font-size: 3em;
    margin: 20px;
    justify-content: center;
    color: white;
    
}
.myButtons {
    display: flex;
    justify-content: center;
}
.myButtons button {
    width: 100px;
    height: 30px;
}

#firstBorder{
    width: 100%;
    height: 3px;
    background-color: black;
}
#secondBorder{
    z-index: 10;
    width: 10px;
    background-color: black;
    height: 79vh;
}

.capture
{
    display: flex;
    justify-content: space-evenly;
    margin-left: var(--leftMargin);
    margin-right: var(--leftMargin);

}
.distance
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50lh;
}
.distance button {
    width: 100px;
    height: 50px;
    position: sticky;
    top: 10px;
    border: 4px solid  rgb(1, 16, 47);
    border-radius: 10px
}
.watch
{
    width: 30px;
}

button
{
    margin: 10px;
    font-family: "Poppins";
}

h3 {
    font-family: "Poppins";
}

.input {
    min-width: 50px; /* Minimum width */
    text-align: center; /* Center the text */
    padding: 10px; /* Padding for better spacing */
    border: 1px solid #ccc; /* Optional border */
}

@media (max-width: 480px) {
    #bok {
        width: 70px;
        margin-top: 15px;

    }

    .input {
        width: 140px;
    }

    .nameInput{
        width:50px;
    }
}
